/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	.App {
		text-align: center;
	}

	.logoBackground {
		background-color: grey;
	}

	.titleName {
		font-size: 4em;
		font-family: 'Righteous', cursive;
	}
	.wrap {
		display: flex;
		flex-direction: column;
		font-size: 1em;
		border: 1px solid black;
	}

	.type-wrap {
		justify-content: start;
		font-family: 'Righteous', cursive;
		border: 1px solid black;
	}
	.buttonsDiv {
		justify-content: start;
	}

	.titleDiv {
		justify-content: start;
	}

	.buttonHover:hover {
		cursor: pointer;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	.App {
		text-align: center;
	}

	.logoBackground {
		background-color: grey;
	}

	.titleName {
		font-size: 4em;
		font-family: 'Righteous', cursive;
	}
	.wrap {
		display: flex;
		flex-direction: column;
		font-size: 1em;
		border: 1px solid black;
	}

	.type-wrap {
		justify-content: start;
		font-family: 'Righteous', cursive;
		border: 1px solid black;
	}
	.buttonsDiv {
		justify-content: start;
	}

	.titleDiv {
		justify-content: start;
	}

	.buttonHover:hover {
		cursor: pointer;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	.App {
		text-align: center;
	}

	.logoBackground {
		background-color: grey;
	}

	.titleName {
		font-size: 5em;
		font-family: 'Righteous', cursive;
	}
	.wrap {
		display: flex;
		flex-direction: column;
		font-size: 1.4em;
		border: 1px solid black;
	}

	.type-wrap {
		justify-content: start;
		font-family: 'Righteous', cursive;
		border: 1px solid black;
	}
	.buttonsDiv {
		justify-content: start;
	}

	.titleDiv {
		justify-content: start;
	}

	.buttonHover:hover {
		cursor: pointer;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	.App {
		text-align: center;
	}

	.logoBackground {
		background-color: grey;
	}

	.titleName {
		font-size: 5em;
		font-family: 'Righteous', cursive;
	}
	.wrap {
		display: flex;
		flex-direction: column;
		font-size: 1.4em;
		border: 1px solid black;
	}

	.type-wrap {
		justify-content: start;
		font-family: 'Righteous', cursive;
		border: 1px solid black;
	}
	.buttonsDiv {
		font-size: 0.8em;
		justify-content: start;
	}

	.titleDiv {
		justify-content: start;
	}

	.buttonHover:hover {
		cursor: pointer;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	.App {
		text-align: center;
	}

	.logoBackground {
		background-color: grey;
	}

	.titleName {
		font-size: 5em;
		font-family: 'Righteous', cursive;
	}
	.wrap {
		display: flex;
		flex-direction: column;
		font-size: 1.4em;
		border: 1px solid black;
	}

	.type-wrap {
		justify-content: start;
		font-family: 'Righteous', cursive;
		border: 1px solid black;
	}
	.buttonsDiv {
		justify-content: start;
	}

	.titleDiv {
		justify-content: start;
	}

	.buttonHover:hover {
		cursor: pointer;
		color: lightgrey;
	}

	.buttonHover:active {
		cursor: pointer;
		color: red;
	}
}
