/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	.App {
		text-align: center;
	}

	.titleName {
		font-size: 5em;
		font-family: 'Righteous', cursive;
	}
	.wrap {
		display: flex;
		flex-direction: column;
		font-size: 1.4em;
		/* border: 1px solid black; */
	}

	.type-wrap {
		justify-content: start;
		font-family: 'Righteous', cursive;
		/* border: 1px solid black; */
	}
	.buttonsDiv {
		font-size: 0.8em;
		justify-content: start;
	}

	.titleDiv {
		justify-content: start;
	}

	.buttonHover:hover {
		cursor: pointer;
	}
	.buttonHover:hover {
		cursor: pointer;
		color: lightgrey;
	}

	.buttonHover1:active {
		cursor: pointer;
		color: lightgreen;
	}
	.buttonHover2:active {
		cursor: pointer;
		color: blue;
	}
	.buttonHover3:active {
		cursor: pointer;
		color: red;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	.App {
		text-align: center;
	}

	.titleName {
		font-size: 5em;
		font-family: 'Righteous', cursive;
	}
	.wrap {
		display: flex;
		flex-direction: column;
		font-size: 1.4em;
		/* border: 1px solid black; */
	}

	.type-wrap {
		justify-content: start;
		font-family: 'Righteous', cursive;
		/* border: 1px solid black; */
	}
	.buttonsDiv {
		font-size: 0.8em;
		justify-content: start;
	}

	.titleDiv {
		justify-content: start;
	}

	.buttonHover:hover {
		cursor: pointer;
	}
	.buttonHover:hover {
		cursor: pointer;
		color: lightgrey;
	}

	.buttonHover1:active {
		cursor: pointer;
		color: lightgreen;
	}
	.buttonHover2:active {
		cursor: pointer;
		color: blue;
	}
	.buttonHover3:active {
		cursor: pointer;
		color: red;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	.App {
		text-align: center;
	}

	.titleName {
		font-size: 5em;
		font-family: 'Righteous', cursive;
	}
	.wrap {
		display: flex;
		flex-direction: column;
		font-size: 1.4em;
		/* border: 1px solid black; */
	}

	.type-wrap {
		justify-content: start;
		font-family: 'Righteous', cursive;
		/* border: 1px solid black; */
	}
	.buttonsDiv {
		font-size: 0.8em;
		justify-content: start;
	}

	.titleDiv {
		justify-content: start;
	}

	.buttonHover:hover {
		cursor: pointer;
	}
	.buttonHover:hover {
		cursor: pointer;
		color: lightgrey;
	}

	.buttonHover1:active {
		cursor: pointer;
		color: lightgreen;
	}
	.buttonHover2:active {
		cursor: pointer;
		color: blue;
	}
	.buttonHover3:active {
		cursor: pointer;
		color: red;
	}

	.masthead.segment {
		min-height: 700px;
		padding: 1em 0em;
	}

	.masthead .ui.menu .ui.button {
		margin-left: 0.5em;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	.App {
		text-align: center;
	}

	.titleName {
		font-size: 5em;
		font-family: 'Righteous', cursive;
	}
	.wrap {
		display: flex;
		flex-direction: column;
		font-size: 1.4em;
		/* border: 1px solid black; */
	}

	.type-wrap {
		justify-content: start;
		font-family: 'Righteous', cursive;
		/* border: 1px solid black; */
	}
	.buttonsDiv {
		font-size: 0.8em;
		justify-content: start;
	}

	.titleDiv {
		justify-content: start;
	}

	.buttonHover:hover {
		cursor: pointer;
	}
	.buttonHover:hover {
		cursor: pointer;
		color: lightgrey;
	}

	.buttonHover1:active {
		cursor: pointer;
		color: lightgreen;
	}
	.buttonHover2:active {
		cursor: pointer;
		color: blue;
	}
	.buttonHover3:active {
		cursor: pointer;
		color: red;
	}
}
