.description {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 1.2rem;
    padding-bottom: 0.5em;
}

.card {
    z-index: 1;
}

#card--hover:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.extra--content {
    width: 100%;
    display: flex;
    align-items: center;
}

.extra--content__start {
    margin-right: auto;
    justify-content: flex-start;
}

.extra--content__end {
    margin-left: auto;
    justify-content: flex-end;
}

#linkFormat {
    padding-bottom: 0.5rem;
}

.description__info {
    font-size: 1rem;
}

.description__heading {
    font-size: 1.2rem;
    color: rgb(110, 110, 110);
}

.toolsLabel--div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.toolsLabel__format {
    margin-bottom: 0.2rem;
    color: rgb(236, 236, 236);
}
