.description {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 1.2rem;
    padding-bottom: 1em;
}

.card {
    z-index: 1;
}

#card--hover:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.extra--content {
    width: 100%;
    display: flex;
    align-items: center;
}

.extra--content__start {
    margin-right: auto;
    justify-content: flex-start;
}

.extra--content__end {
    margin-left: auto;
    justify-content: flex-end;
}
