/* hidden navbar after scrolling*/
.hidden--navbar__flex {
    position: fixed;
    top: 0px;
    height: 4rem;
    width: 100%;
}

#hiddenNavbar {
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding: 0 1rem 0 1rem;
    z-index: 20;
    font-size: 1.3rem;
}

.hiddenNavbarTransition-appear,
.hiddenNavbarTransition-enter {
    opacity: 0;
}

.hiddenNavbarTransition-appear-active,
.hiddenNavbarTransition-enter-active {
    opacity: 1;
    transition: all 300ms ease-in;
}
.hiddenNavbarTransition-exit {
    opacity: 1;
}

.hiddenNavbarTransition-exit-active {
    opacity: 0;
    transition: all 300ms ease-out;
}

.hiddenNavbarTransition-exit-done {
    opacity: 0;
}
