.menu__flex {
    display: flex;
}

.menu__flex--start {
    justify-content: flex-start;
    left: 10%;
    margin-right: auto;
}

.menu__flex--end {
    justify-content: flex-end;
    margin-left: auto;
    right: 10%;
}
.row--1 {
    position: relative;
    top: -2.4rem;
    right: 3.9rem;
    &:active {
        color: black;
    }
}

.row--2 {
    position: relative;
    top: -1.8rem;
    right: 2rem;
    &:active {
        color: black;
    }
}

.row--3 {
    position: relative;
    top: -2rem;
    right: -0.1rem;
    &:active {
        color: black;
    }
}

.row--4 {
    position: relative;
    top: -2.6rem;
    right: -2.5rem;
    &:active {
        color: black;
    }
}

.bg-appear {
    opacity: 0;
}

.bg-appear-active {
    opacity: 0;
    transition: all 300ms linear;
}

.bg-enter {
    opacity: 0;
}

.bg-enter-active {
    opacity: 1;
    transition: all 300ms linear;
}

.bg-exit {
    opacity: 1;
}

.bg-exit-active {
    opacity: 0;
    transition: all 300ms linear;
}

.bg-exit-done {
    opacity: 0;
}
