.menu__flex {
    display: flex;
}

.menu__flex--start {
    justify-content: flex-start;
    left: 10%;
    margin-right: auto;
}

.menu__flex--end {
    justify-content: flex-end;
    margin-left: auto;
    right: 10%;
}

.row--1 {
    position: relative;
    top: -2.5rem;
    right: 4.3rem;
    &:active {
        color: black;
    }
}

.row--2 {
    position: relative;
    top: -1.8rem;
    right: 2.5rem;
    &:active {
        color: black;
    }
}

.row--3 {
    position: relative;
    top: -1.8rem;
    right: 0.5rem;
    &:active {
        color: black;
    }
}

.row--4 {
    position: relative;
    top: -2rem;
    right: -1.8rem;
    &:active {
        color: black;
    }
}
