@import "app";
@import "card";
@import "content";
@import "menubar";
@import "hiddennavbar";
@import "footer";
@import "animation";

$widthHeightRadius: 9rem;
#title__name {
    font-family: "Righteous", sans-serif;
}
@media only screen and (min-width: 0px) {
    #title__name {
        font-size: 20vw;
        margin: auto;
    }
    //only show these navbars in bigger displays
    .menu__bar {
        display: none;
    }
    .hidden--navbar {
        display: none;
    }
    .hidden {
        position: fixed;
        right: 1.3rem;
        z-index: 10;
    }

    .hidden--bar {
        font-size: 2rem;
        &:hover {
            cursor: pointer;
        }
    }

    .hidden--list {
        position: fixed;
        right: 2rem;
    }
    .hidden__background {
        position: fixed;
        top: 0;
        right: 0;
        width: $widthHeightRadius;
        height: $widthHeightRadius;
        z-index: -1;
        background: rgba(175, 175, 170, 0.431);
        border-radius: 0 0 0 $widthHeightRadius;
        -moz-border-radius: 0 0 0 $widthHeightRadius;
        -webkit-border-radius: 0 0 0 $widthHeightRadius;
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    #title__name {
        font-size: 6rem;
        margin: auto;
    }

    #title__type {
        font-size: 1.3rem;
    }
    #title__buttons {
        font-size: 1rem;
    }

    .menu__bar {
        display: none;
    }
    .hidden--navbar {
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    #title__name {
        font-size: 13rem;

        margin: auto;
    }
    #title__type {
        font-size: 2.5rem;
    }
    #title__buttons {
        font-size: 1.5rem;
    }
    .menu__bar {
        display: block;
    }
    .hidden--navbar {
        display: block;
    }
    .hidden {
        display: none;
    }
    .card__innerContainer {
        right: -14px;
        //for debug purposes
        // background-color: green;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    #title__name {
        font-size: 15rem;

        margin: auto;
    }

    #title__type {
        font-size: 2rem;
    }
    #title__buttons {
        font-size: 1rem;
    }
    .menu__bar {
        display: block;
    }
    .hidden--navbar {
        display: block;
    }
    .hidden {
        display: none;
    }
}
