.buttonHover:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.buttonHover:hover {
    cursor: pointer;
    color: lightgrey;
}

.buttonHover1:active {
    cursor: pointer;
    color: lightgreen;
}
.buttonHover2:active {
    cursor: pointer;
    color: skyblue;
}
.buttonHover3:active {
    cursor: pointer;
    color: red;
}

#navProject:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#play_text_container {
    display: inline-block;
    width: 100%;
    z-index: 2;
}

#play_text {
    display: inline-block;
    pointer-events: none;
    padding-right: 0.5rem;
}

.title_wrap {
    margin-top: 35%;
    margin-bottom: auto;
    z-index: 1;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .masthead.segment {
        min-height: 100vh;
    }

    .masthead h1.ui.header {
        margin-top: 40%;
        font-weight: normal;
        font-size: 5em;
        font-family: "Righteous", cursive;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1em;
    }
    .title_wrap {
        margin-top: auto;
        margin-bottom: auto;
        z-index: 1;
    }
}

/* iphone X*/
@media only screen and (min-width: 375px) {
    .masthead.segment {
        min-height: 100vh;
    }

    .masthead h1.ui.header {
        margin-top: 50%;
        font-weight: normal;
        font-size: 5em;
        font-family: "Righteous", cursive;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1em;
    }
    .title_wrap {
        margin-top: auto;
        margin-bottom: auto;
        z-index: 1;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .App {
        text-align: center;
    }

    .titleName {
        font-size: 5em;
        font-family: "Righteous", cursive;
    }
    .wrap {
        display: flex;
        flex-direction: column;
        font-size: 1.4em;
        /* border: 1px solid black; */
    }

    .type-wrap {
        justify-content: start;
        font-family: "Righteous", cursive;
        /* border: 1px solid black; */
    }
    .buttonsDiv {
        font-size: 0.8em;
        justify-content: start;
        z-index: 3;
    }

    .titleDiv {
        justify-content: start;
    }

    .masthead.segment {
        min-height: 100vh;
    }

    .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
    }

    .masthead h1.ui.header {
        margin-top: 0rem;
        margin-bottom: 0em;
        font-weight: normal;
        font-size: 7em;
        font-family: "Righteous", cursive;
    }
    .masthead h2 {
        font-size: 1.7em;
        font-weight: normal;
    }

    .title_wrap {
        margin-top: 35%;
        margin-bottom: auto;
        z-index: 1;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .App {
        text-align: center;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        font-size: 1.4em;
        /* border: 1px solid black; */
    }

    .type-wrap {
        justify-content: start;
        font-family: "Righteous", cursive;
        /* border: 1px solid black; */
    }
    .buttonsDiv {
        font-size: 1.3em;
        justify-content: start;
        z-index: 3;
    }

    .titleDiv {
        justify-content: start;
    }

    .masthead.segment {
        min-height: 100vh;
    }

    .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
    }

    .masthead h1.ui.header {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: normal;
        font-size: 8em;
        font-family: "Righteous", cursive;
    }
    .masthead h2 {
        font-size: 1.7em;
        font-weight: normal;
    }

    .title_wrap {
        margin-top: 35%;
        margin-bottom: auto;
        z-index: 1;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .App {
        text-align: center;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        font-size: 1.4em;
        /* border: 1px solid black; */
    }

    .type-wrap {
        justify-content: start;
        font-family: "Righteous", cursive;
        /* border: 1px solid black; */
    }
    .buttonsDiv {
        font-size: 1.3em;
        justify-content: start;
        z-index: 3;
    }

    .titleDiv {
        justify-content: start;
    }

    .masthead.segment {
        min-height: 100vh;
    }

    .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
    }

    .masthead h1.ui.header {
        margin-top: 0rem;
        font-weight: normal;
        font-size: 8em;
        font-family: "Righteous", cursive;
    }
    .masthead h2 {
        font-size: 1.7em;
        font-weight: normal;
    }
    .title_wrap {
        margin-top: 40%;
        margin-bottom: auto;
        z-index: 1;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .App {
        text-align: center;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        font-size: 1.4em;
        /* border: 1px solid black; */
    }

    .type-wrap {
        justify-content: start;
        font-family: "Righteous", cursive;
        /* border: 1px solid black; */
    }
    .buttonsDiv {
        font-size: 1.3em;
        justify-content: start;
        z-index: 3;
    }

    .titleDiv {
        justify-content: start;
    }

    .masthead.segment {
        min-height: 100vh;
    }

    .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
    }

    .masthead h1.ui.header {
        margin-top: -15%;
        font-weight: normal;
        font-size: 8em;
        font-family: "Righteous", cursive;
    }
    .masthead h2 {
        font-size: 1.7em;
        font-weight: normal;
    }
    .title_wrap {
        margin-top: 20%;
        margin-bottom: 20%;
        z-index: 1;
    }
}
