.buttonHover:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.buttonHover:hover {
	cursor: pointer;
	color: lightgrey;
}

.buttonHover1:active {
	cursor: pointer;
	color: lightgreen;
}
.buttonHover2:active {
	cursor: pointer;
	color: skyblue;
}
.buttonHover3:active {
	cursor: pointer;
	color: red;
}

#navProject:hover {
	cursor: pointer;
	transform: scale(1.2);
}
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	.masthead.segment {
		min-height: 350px;
	}

	.masthead h1.ui.header {
		margin-top: 0.5em;
		font-weight: normal;
		font-size: 5em;
		font-family: 'Righteous', cursive;
	}
	.masthead h2 {
		margin-top: 0.5em;
		font-size: 1em;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	.App {
		text-align: center;
	}

	.titleName {
		font-size: 5em;
		font-family: 'Righteous', cursive;
	}
	.wrap {
		display: flex;
		flex-direction: column;
		font-size: 1.4em;
		/* border: 1px solid black; */
	}

	.type-wrap {
		justify-content: start;
		font-family: 'Righteous', cursive;
		/* border: 1px solid black; */
	}
	.buttonsDiv {
		font-size: 0.8em;
		justify-content: start;
	}

	.titleDiv {
		justify-content: start;
	}

	.masthead.segment {
		min-height: 700px;
		padding: 1em 0em;
	}

	.masthead .ui.menu .ui.button {
		margin-left: 0.5em;
	}

	.masthead h1.ui.header {
		margin-top: 1.4em;
		margin-bottom: 0em;
		font-weight: normal;
		font-size: 7em;
		font-family: 'Righteous', cursive;
	}
	.masthead h2 {
		font-size: 1.7em;
		font-weight: normal;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	.buttonsDiv {
		font-size: 1.2em;
		justify-content: start;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	.App {
		text-align: center;
	}

	.wrap {
		display: flex;
		flex-direction: column;
		font-size: 1.4em;
		/* border: 1px solid black; */
	}

	.type-wrap {
		justify-content: start;
		font-family: 'Righteous', cursive;
		/* border: 1px solid black; */
	}
	.buttonsDiv {
		font-size: 1.3em;
		justify-content: start;
	}

	.titleDiv {
		justify-content: start;
	}

	.masthead.segment {
		min-height: 700px;
		padding: 1em 0em;
	}

	.masthead .ui.menu .ui.button {
		margin-left: 0.5em;
	}

	.masthead h1.ui.header {
		margin-top: 1.2em;
		margin-bottom: 0em;
		font-weight: normal;
		font-size: 8em;
		font-family: 'Righteous', cursive;
	}
	.masthead h2 {
		font-size: 1.7em;
		font-weight: normal;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
