.top_page {
    height: 100vh;
}

/* to center the title*/
.title__wrap {
    position: absolute;
    width: 100%;
    margin: auto;
    height: 30%;
    top: -15%;
    bottom: 0;
    left: 0;
    right: 0;
}

#play_text_container {
    display: inline-block;
    width: 100%;
    z-index: 2;
}

#play_text {
    display: inline-block;
    pointer-events: none;
    padding-right: 0.5rem;
}

/* Button colors */
.buttonHover:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.buttonHover:hover {
    cursor: pointer;
    color: lightgrey;
}

.buttonHover1:active {
    cursor: pointer;
    color: lightgreen;
}
.buttonHover2:active {
    cursor: pointer;
    color: skyblue;
}
.buttonHover3:active {
    cursor: pointer;
    color: red;
}

#navProject:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* remove margin from the title*/
.ui.text.container {
    display: flex;
    justify-content: center;
    margin: 0;
}

@media only screen and (min-width: 0px) {
    #title__name {
        font-size: 20vw;
        font-family: "Righteous", cursive;
        margin: auto;
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    #title__name {
        font-size: 6rem;
        font-family: "Righteous", cursive;
        margin: auto;
    }

    #title__type {
        font-size: 1.3rem;
    }
    #title__buttons {
        font-size: 1rem;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    #title__name {
        font-size: 13rem;
        font-family: "Righteous", cursive;
        margin: auto;
    }
    #title__type {
        font-size: 2.5rem;
    }
    #title__buttons {
        font-size: 1.5rem;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    #title__name {
        font-size: 15rem;
        font-family: "Righteous", cursive;
        margin: auto;
    }

    #title__type {
        font-size: 2rem;
    }
    #title__buttons {
        font-size: 1rem;
    }
}
